body {
    background-color: #2b0a0a;
    color: #ffe4ec;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    color: #ff2e63;
    font-size: 75px;
    text-align: center;
    font-family: 'Georgia', serif;
    letter-spacing: 3px;
}

h2 {
    color: #ff85a2;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 40px;
    letter-spacing: 2px;
}